In [1]:
# Built-in library
from pathlib import Path
import re
import json
from typing import Any, Optional, Union
import logging
import warnings

# Standard imports
import numpy as np
import numpy.typing as npt
from pprint import pprint
import pandas as pd
import polars as pl
from rich.console import Console
from rich.theme import Theme

custom_theme = Theme(
    {
        "info": "#76FF7B",
        "warning": "#FBDDFE",
        "error": "#FF0000",
    }
)
console = Console(theme=custom_theme)

# Visualization
import matplotlib.pyplot as plt


# Pandas settings
pd.options.display.max_rows = 1_000
pd.options.display.max_columns = 1_000
pd.options.display.max_colwidth = 600

warnings.filterwarnings("ignore")

# Add seed
np.random.seed(0)

# Black code formatter (Optional)
%load_ext lab_black

# auto reload imports
%load_ext autoreload
%autoreload 2

In [2]:
from utils import get_data_summary, get_value_counts, Preparedata

### Load Data

In [3]:
fp: str = "../data/titanic_data.csv"

data_original: pl.DataFrame = pl.read_csv(source=fp)
data_original.head()

shape: (5, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.       ┆ female ┆ … ┆ S        ┆ 2    ┆ null ┆ St Louis, MO      │
│        ┆          ┆ Elisabeth Walton   ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Allison, Master.   ┆ male   ┆ … ┆ S        ┆ 11   ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Trevor      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, ON  │
│ 1      ┆ 0        ┆ Allison, Miss.     ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Helen Loraine      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, ON  │
│ 1      ┆ 0        ┆ Allison, Mr.       ┆ male   ┆ … ┆ S        ┆ null ┆ 135  ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson Joshua      ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, ON  │
│        ┆          ┆ Creig…             ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 0        ┆ Allison, Mrs.      ┆ female ┆ … ┆ S        ┆ null ┆ null ┆ Montreal, PQ /    │
│        ┆          ┆ Hudson J C         ┆        ┆   ┆          ┆      ┆      ┆ Chesterville, ON  │
│        ┆          ┆ (Bessie…           ┆        ┆   ┆          ┆      ┆      ┆                   │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [4]:
# Config
TARGET: str = "survived"
TEST_SIZE: float = 0.2
RANDOM_STATE: int = 123

In [5]:
get_data_summary(data=data_original, features=data_original.columns)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
count,1309.000000,1309.000000,1309,1309,1046.000000,1309.000000,1309.000000,1309,1308.000000,295,1307,486,121.000000,745
unique,NaN,NaN,1307,2,NaN,NaN,NaN,929,NaN,181,3,27,NaN,369
top,NaN,NaN,"Connolly, Miss. Kate",male,NaN,NaN,NaN,CA. 2343,NaN,F,S,13,NaN,"New York, NY"
freq,NaN,NaN,2,843,NaN,NaN,NaN,11,NaN,8,914,39,NaN,64
mean,2.294882,0.381971,NaN,NaN,29.881135,0.498854,0.385027,NaN,33.295479,NaN,NaN,NaN,160.809917,NaN
std,0.837836,0.486055,NaN,NaN,14.413500,1.041658,0.865560,NaN,51.758668,NaN,NaN,NaN,97.696922,NaN
min,1.000000,0.000000,NaN,NaN,0.166700,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,1.000000,NaN
25%,2.000000,0.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,7.895800,NaN,NaN,NaN,72.000000,NaN
50%,3.000000,0.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN,NaN,155.000000,NaN
75%,3.000000,1.000000,NaN,NaN,39.000000,1.000000,0.000000,NaN,31.275000,NaN,NaN,NaN,256.000000,NaN
max,3.000000,1.000000,NaN,NaN,80.000000,8.000000,9.000000,NaN,512.329200,NaN,NaN,NaN,328.000000,NaN
top_freq%,0.541635,0.618029,0.001528,0.644003,0.044933,0.680672,0.765470,0.008403,0.045872,0.027119,0.699311,0.080247,0.008264,0.085906
num_NaNs,0.000000,0.000000,0,0,263.000000,0.000000,0.000000,0,1.000000,1014,2,823,1188.000000,564

In [6]:
# Drop columns with too many NaNs or unnecessary columns
cols_to_drop: list[str] = ["cabin", "boat", "body", "home.dest"]
data: pl.DataFrame = data_original.drop(columns=cols_to_drop)

get_data_summary(data=data, features=data.columns)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,embarked
count,1309.000000,1309.000000,1309,1309,1046.000000,1309.000000,1309.000000,1309,1308.000000,1307
unique,NaN,NaN,1307,2,NaN,NaN,NaN,929,NaN,3
top,NaN,NaN,"Connolly, Miss. Kate",male,NaN,NaN,NaN,CA. 2343,NaN,S
freq,NaN,NaN,2,843,NaN,NaN,NaN,11,NaN,914
mean,2.294882,0.381971,NaN,NaN,29.881135,0.498854,0.385027,NaN,33.295479,NaN
std,0.837836,0.486055,NaN,NaN,14.413500,1.041658,0.865560,NaN,51.758668,NaN
min,1.000000,0.000000,NaN,NaN,0.166700,0.000000,0.000000,NaN,0.000000,NaN
25%,2.000000,0.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,7.895800,NaN
50%,3.000000,0.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN
75%,3.000000,1.000000,NaN,NaN,39.000000,1.000000,0.000000,NaN,31.275000,NaN
max,3.000000,1.000000,NaN,NaN,80.000000,8.000000,9.000000,NaN,512.329200,NaN
top_freq%,0.541635,0.618029,0.001528,0.644003,0.044933,0.680672,0.765470,0.008403,0.045872,0.699311
num_NaNs,0.000000,0.000000,0,0,263.000000,0.000000,0.000000,0,1.000000,2

In [7]:
data.head(10)

shape: (10, 10)
┌────────┬──────────┬────────────────────────┬────────┬───┬───────┬──────────┬──────────┬──────────┐
│ pclass ┆ survived ┆ name                   ┆ sex    ┆ … ┆ parch ┆ ticket   ┆ fare     ┆ embarked │
│ ---    ┆ ---      ┆ ---                    ┆ ---    ┆   ┆ ---   ┆ ---      ┆ ---      ┆ ---      │
│ i64    ┆ i64      ┆ str                    ┆ str    ┆   ┆ i64   ┆ str      ┆ f64      ┆ str      │
╞════════╪══════════╪════════════════════════╪════════╪═══╪═══════╪══════════╪══════════╪══════════╡
│ 1      ┆ 1        ┆ Allen, Miss. Elisabeth ┆ female ┆ … ┆ 0     ┆ 24160    ┆ 211.3375 ┆ S        │
│        ┆          ┆ Walton                 ┆        ┆   ┆       ┆          ┆          ┆          │
│ 1      ┆ 1        ┆ Allison, Master.       ┆ male   ┆ … ┆ 2     ┆ 113781   ┆ 151.55   ┆ S        │
│        ┆          ┆ Hudson Trevor          ┆        ┆   ┆       ┆          ┆          ┆          │
│ 1      ┆ 0        ┆ Allison, Miss. Helen   ┆ female ┆ … ┆ 2     ┆ 113781   ┆ 151.55   ┆ S        │
│        ┆          ┆ Loraine                ┆        ┆   ┆       ┆          ┆          ┆          │
│ 1      ┆ 0        ┆ Allison, Mr. Hudson    ┆ male   ┆ … ┆ 2     ┆ 113781   ┆ 151.55   ┆ S        │
│        ┆          ┆ Joshua Creig…          ┆        ┆   ┆       ┆          ┆          ┆          │
│ 1      ┆ 0        ┆ Allison, Mrs. Hudson J ┆ female ┆ … ┆ 2     ┆ 113781   ┆ 151.55   ┆ S        │
│        ┆          ┆ C (Bessie…             ┆        ┆   ┆       ┆          ┆          ┆          │
│ 1      ┆ 1        ┆ Anderson, Mr. Harry    ┆ male   ┆ … ┆ 0     ┆ 19952    ┆ 26.55    ┆ S        │
│ 1      ┆ 1        ┆ Andrews, Miss.         ┆ female ┆ … ┆ 0     ┆ 13502    ┆ 77.9583  ┆ S        │
│        ┆          ┆ Kornelia Theodosi…     ┆        ┆   ┆       ┆          ┆          ┆          │
│ 1      ┆ 0        ┆ Andrews, Mr. Thomas Jr ┆ male   ┆ … ┆ 0     ┆ 112050   ┆ 0.0      ┆ S        │
│ 1      ┆ 1        ┆ Appleton, Mrs. Edward  ┆ female ┆ … ┆ 0     ┆ 11769    ┆ 51.4792  ┆ S        │
│        ┆          ┆ Dale (Char…            ┆        ┆   ┆       ┆          ┆          ┆          │
│ 1      ┆ 0        ┆ Artagaveytia, Mr.      ┆ male   ┆ … ┆ 0     ┆ PC 17609 ┆ 49.5042  ┆ C        │
│        ┆          ┆ Ramon                  ┆        ┆   ┆       ┆          ┆          ┆          │
└────────┴──────────┴────────────────────────┴────────┴───┴───────┴──────────┴──────────┴──────────┘

In [8]:
data_with_index = data.with_row_index("id", offset=0)
data_with_index

shape: (1_309, 11)
┌──────┬────────┬──────────┬────────────────────────────┬───┬───────┬────────┬──────────┬──────────┐
│ id   ┆ pclass ┆ survived ┆ name                       ┆ … ┆ parch ┆ ticket ┆ fare     ┆ embarked │
│ ---  ┆ ---    ┆ ---      ┆ ---                        ┆   ┆ ---   ┆ ---    ┆ ---      ┆ ---      │
│ u32  ┆ i64    ┆ i64      ┆ str                        ┆   ┆ i64   ┆ str    ┆ f64      ┆ str      │
╞══════╪════════╪══════════╪════════════════════════════╪═══╪═══════╪════════╪══════════╪══════════╡
│ 0    ┆ 1      ┆ 1        ┆ Allen, Miss. Elisabeth     ┆ … ┆ 0     ┆ 24160  ┆ 211.3375 ┆ S        │
│      ┆        ┆          ┆ Walton                     ┆   ┆       ┆        ┆          ┆          │
│ 1    ┆ 1      ┆ 1        ┆ Allison, Master. Hudson    ┆ … ┆ 2     ┆ 113781 ┆ 151.55   ┆ S        │
│      ┆        ┆          ┆ Trevor                     ┆   ┆       ┆        ┆          ┆          │
│ 2    ┆ 1      ┆ 0        ┆ Allison, Miss. Helen       ┆ … ┆ 2     ┆ 113781 ┆ 151.55   ┆ S        │
│      ┆        ┆          ┆ Loraine                    ┆   ┆       ┆        ┆          ┆          │
│ 3    ┆ 1      ┆ 0        ┆ Allison, Mr. Hudson Joshua ┆ … ┆ 2     ┆ 113781 ┆ 151.55   ┆ S        │
│      ┆        ┆          ┆ Creig…                     ┆   ┆       ┆        ┆          ┆          │
│ 4    ┆ 1      ┆ 0        ┆ Allison, Mrs. Hudson J C   ┆ … ┆ 2     ┆ 113781 ┆ 151.55   ┆ S        │
│      ┆        ┆          ┆ (Bessie…                   ┆   ┆       ┆        ┆          ┆          │
│ …    ┆ …      ┆ …        ┆ …                          ┆ … ┆ …     ┆ …      ┆ …        ┆ …        │
│ 1304 ┆ 3      ┆ 0        ┆ Zabour, Miss. Hileni       ┆ … ┆ 0     ┆ 2665   ┆ 14.4542  ┆ C        │
│ 1305 ┆ 3      ┆ 0        ┆ Zabour, Miss. Thamine      ┆ … ┆ 0     ┆ 2665   ┆ 14.4542  ┆ C        │
│ 1306 ┆ 3      ┆ 0        ┆ Zakarian, Mr. Mapriededer  ┆ … ┆ 0     ┆ 2656   ┆ 7.225    ┆ C        │
│ 1307 ┆ 3      ┆ 0        ┆ Zakarian, Mr. Ortin        ┆ … ┆ 0     ┆ 2670   ┆ 7.225    ┆ C        │
│ 1308 ┆ 3      ┆ 0        ┆ Zimmerman, Mr. Leo         ┆ … ┆ 0     ┆ 315082 ┆ 7.875    ┆ S        │
└──────┴────────┴──────────┴────────────────────────────┴───┴───────┴────────┴──────────┴──────────┘

In [9]:
# Sex: {"female": 0, "male": 1}, Embarked: {"S": 0, "C": 1, "Q": 2},

data.lazy().with_columns(
    sex_int=pl.col("sex").cast(pl.Categorical).to_physical(),
    embarked_int=pl.col("embarked").cast(pl.Categorical).to_physical(),
    ticket_int=pl.col("ticket").str.contains(r"^\D"),
).with_columns(
    ticket_int=(
        pl.col("ticket_int")
        .cast(pl.Categorical)
        .to_physical()  # similar to pd.factorize
    )
).collect()

shape: (1_309, 13)
┌────────┬──────────┬────────────────┬────────┬───┬──────────┬─────────┬──────────────┬────────────┐
│ pclass ┆ survived ┆ name           ┆ sex    ┆ … ┆ embarked ┆ sex_int ┆ embarked_int ┆ ticket_int │
│ ---    ┆ ---      ┆ ---            ┆ ---    ┆   ┆ ---      ┆ ---     ┆ ---          ┆ ---        │
│ i64    ┆ i64      ┆ str            ┆ str    ┆   ┆ str      ┆ u32     ┆ u32          ┆ u32        │
╞════════╪══════════╪════════════════╪════════╪═══╪══════════╪═════════╪══════════════╪════════════╡
│ 1      ┆ 1        ┆ Allen, Miss.   ┆ female ┆ … ┆ S        ┆ 0       ┆ 0            ┆ 0          │
│        ┆          ┆ Elisabeth      ┆        ┆   ┆          ┆         ┆              ┆            │
│        ┆          ┆ Walton         ┆        ┆   ┆          ┆         ┆              ┆            │
│ 1      ┆ 1        ┆ Allison,       ┆ male   ┆ … ┆ S        ┆ 1       ┆ 0            ┆ 0          │
│        ┆          ┆ Master. Hudson ┆        ┆   ┆          ┆         ┆              ┆            │
│        ┆          ┆ Trevor         ┆        ┆   ┆          ┆         ┆              ┆            │
│ 1      ┆ 0        ┆ Allison, Miss. ┆ female ┆ … ┆ S        ┆ 0       ┆ 0            ┆ 0          │
│        ┆          ┆ Helen Loraine  ┆        ┆   ┆          ┆         ┆              ┆            │
│ 1      ┆ 0        ┆ Allison, Mr.   ┆ male   ┆ … ┆ S        ┆ 1       ┆ 0            ┆ 0          │
│        ┆          ┆ Hudson Joshua  ┆        ┆   ┆          ┆         ┆              ┆            │
│        ┆          ┆ Creig…         ┆        ┆   ┆          ┆         ┆              ┆            │
│ 1      ┆ 0        ┆ Allison, Mrs.  ┆ female ┆ … ┆ S        ┆ 0       ┆ 0            ┆ 0          │
│        ┆          ┆ Hudson J C     ┆        ┆   ┆          ┆         ┆              ┆            │
│        ┆          ┆ (Bessie…       ┆        ┆   ┆          ┆         ┆              ┆            │
│ …      ┆ …        ┆ …              ┆ …      ┆ … ┆ …        ┆ …       ┆ …            ┆ …          │
│ 3      ┆ 0        ┆ Zabour, Miss.  ┆ female ┆ … ┆ C        ┆ 0       ┆ 1            ┆ 0          │
│        ┆          ┆ Hileni         ┆        ┆   ┆          ┆         ┆              ┆            │
│ 3      ┆ 0        ┆ Zabour, Miss.  ┆ female ┆ … ┆ C        ┆ 0       ┆ 1            ┆ 0          │
│        ┆          ┆ Thamine        ┆        ┆   ┆          ┆         ┆              ┆            │
│ 3      ┆ 0        ┆ Zakarian, Mr.  ┆ male   ┆ … ┆ C        ┆ 1       ┆ 1            ┆ 0          │
│        ┆          ┆ Mapriededer    ┆        ┆   ┆          ┆         ┆              ┆            │
│ 3      ┆ 0        ┆ Zakarian, Mr.  ┆ male   ┆ … ┆ C        ┆ 1       ┆ 1            ┆ 0          │
│        ┆          ┆ Ortin          ┆        ┆   ┆          ┆         ┆              ┆            │
│ 3      ┆ 0        ┆ Zimmerman, Mr. ┆ male   ┆ … ┆ S        ┆ 1       ┆ 0            ┆ 0          │
│        ┆          ┆ Leo            ┆        ┆   ┆          ┆         ┆              ┆            │
└────────┴──────────┴────────────────┴────────┴───┴──────────┴─────────┴──────────────┴────────────┘

In [10]:
# Split the data
from sklearn.model_selection import train_test_split

X_train: pl.DataFrame
X_test: pl.DataFrame

X_train, X_test = train_test_split(
    data_original,
    test_size=TEST_SIZE,
    random_state=RANDOM_STATE,
    stratify=data_original.select(TARGET),
)

X_train.shape, X_test.shape

((1047, 14), (262, 14))

In [11]:
X_train.head()

shape: (5, 14)
┌────────┬──────────┬────────────────────┬────────┬───┬──────────┬──────┬──────┬───────────────────┐
│ pclass ┆ survived ┆ name               ┆ sex    ┆ … ┆ embarked ┆ boat ┆ body ┆ home.dest         │
│ ---    ┆ ---      ┆ ---                ┆ ---    ┆   ┆ ---      ┆ ---  ┆ ---  ┆ ---               │
│ i64    ┆ i64      ┆ str                ┆ str    ┆   ┆ str      ┆ str  ┆ i64  ┆ str               │
╞════════╪══════════╪════════════════════╪════════╪═══╪══════════╪══════╪══════╪═══════════════════╡
│ 2      ┆ 1        ┆ Hart, Miss. Eva    ┆ female ┆ … ┆ S        ┆ 14   ┆ null ┆ Ilford, Essex /   │
│        ┆          ┆ Miriam             ┆        ┆   ┆          ┆      ┆      ┆ Winnipeg, MB      │
│ 2      ┆ 0        ┆ Peruschitz, Rev.   ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Joseph Maria       ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Lurette, Miss.     ┆ female ┆ … ┆ C        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Elise              ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 3      ┆ 0        ┆ Shellard, Mr.      ┆ male   ┆ … ┆ S        ┆ null ┆ null ┆ null              │
│        ┆          ┆ Frederick William  ┆        ┆   ┆          ┆      ┆      ┆                   │
│ 1      ┆ 1        ┆ Carter, Mrs.       ┆ female ┆ … ┆ S        ┆ 4    ┆ null ┆ Bryn Mawr, PA     │
│        ┆          ┆ William Ernest     ┆        ┆   ┆          ┆      ┆      ┆                   │
│        ┆          ┆ (Luc…              ┆        ┆   ┆          ┆      ┆      ┆                   │
└────────┴──────────┴────────────────────┴────────┴───┴──────────┴──────┴──────┴───────────────────┘

In [12]:
# The name is the U_id (Polars does NOT maintain order)
y_train: pd.DataFrame = (
    X_train.select(["name", TARGET]).sort("name").drop(columns=["name"]).to_pandas()
)
y_test: pd.DataFrame = (
    X_test.select(["name", TARGET]).sort("name").drop(columns=["name"]).to_pandas()
)

y_train.head()

   survived
0         0
1         0
2         0
3         1
4         1

In [13]:
console.print(f"Train: {get_value_counts(data=y_train, feature=TARGET)}")
console.print(f"Test: {get_value_counts(data=y_test, feature=TARGET)}")

Train: shape: (2, 3)
┌──────────┬───────┬───────────┐
│ survived ┆ count ┆ pct_count │
│ ---      ┆ ---   ┆ ---       │
│ i64      ┆ u32   ┆ f64       │
╞══════════╪═══════╪═══════════╡
│ 0        ┆ 647   ┆ 0.618     │
│ 1        ┆ 400   ┆ 0.382     │
└──────────┴───────┴───────────┘

Test: shape: (2, 3)
┌──────────┬───────┬───────────┐
│ survived ┆ count ┆ pct_count │
│ ---      ┆ ---   ┆ ---       │
│ i64      ┆ u32   ┆ f64       │
╞══════════╪═══════╪═══════════╡
│ 0        ┆ 162   ┆ 0.618     │
│ 1        ┆ 100   ┆ 0.382     │
└──────────┴───────┴───────────┘

In [14]:
num_vars: list[str] = ["pclass", "age", "sibsp", "parch", "ticket", "fare"]
cat_vars: list[str] = ["sex", "embarked"]

get_data_summary(data=X_train, features=X_train.columns)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
count,1047.000000,1047.000000,1047,1047,834.000000,1047.000000,1047.000000,1047,1046.000000,233,1045,384,98.000000,592
unique,NaN,NaN,1046,2,NaN,NaN,NaN,780,NaN,158,3,25,NaN,320
top,NaN,NaN,"Kelly, Mr. James",male,NaN,NaN,NaN,CA. 2343,NaN,F,S,13,NaN,"New York, NY"
freq,NaN,NaN,2,681,NaN,NaN,NaN,10,NaN,7,736,31,NaN,54
mean,2.292264,0.382044,NaN,NaN,29.857414,0.504298,0.382044,NaN,33.053110,NaN,NaN,NaN,156.744898,NaN
std,0.839152,0.486119,NaN,NaN,14.498647,1.077197,0.884962,NaN,49.204992,NaN,NaN,NaN,102.279515,NaN
min,1.000000,0.000000,NaN,NaN,0.166700,0.000000,0.000000,NaN,0.000000,NaN,NaN,NaN,1.000000,NaN
25%,2.000000,0.000000,NaN,NaN,21.000000,0.000000,0.000000,NaN,7.895800,NaN,NaN,NaN,61.250000,NaN
50%,3.000000,0.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN,NaN,150.500000,NaN
75%,3.000000,1.000000,NaN,NaN,39.000000,1.000000,0.000000,NaN,31.359375,NaN,NaN,NaN,259.750000,NaN
max,3.000000,1.000000,NaN,NaN,80.000000,8.000000,9.000000,NaN,512.329200,NaN,NaN,NaN,328.000000,NaN
top_freq%,0.540592,0.617956,0.00191,0.65043,0.041966,0.687679,0.769819,0.009551,0.044933,0.030043,0.704306,0.080729,0.010204,0.091216
num_NaNs,0.000000,0.000000,0,0,213.000000,0.000000,0.000000,0,1.000000,814,2,663,949.000000,455

In [15]:
processor = Preparedata(variables=cat_vars + ["ticket"])
processor.fit_transform(X=X_train)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
1020,3,0,"Abbing, Mr. Anthony",male,42.0,0,0,1,7.5500,None,s,None,NaN,None
120,3,0,"Abbott, Master. Eugene Joseph",male,13.0,0,2,1,20.2500,None,s,None,NaN,"East Providence, RI"
543,3,0,"Abbott, Mr. Rossmore Edward",male,16.0,1,1,1,20.2500,None,s,None,190.0,"East Providence, RI"
98,3,1,"Abbott, Mrs. Stanton (Rosa Hunt)",female,35.0,1,1,1,20.2500,None,s,A,NaN,"East Providence, RI"
318,3,1,"Abelseth, Miss. Karen Marie",female,16.0,0,0,0,7.6500,None,s,16,NaN,"Norway Los Angeles, CA"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
667,3,0,"de Pelsmaeker, Mr. Alfons",male,16.0,0,0,0,9.5000,None,s,None,NaN,None
923,2,0,"del Carlo, Mr. Sebastiano",male,29.0,1,0,1,27.7208,None,c,None,295.0,"Lucca, Italy / California"
495,3,0,"van Billiard, Master. James William",male,NaN,1,1,1,14.5000,None,s,None,NaN,None
43,3,0,"van Billiard, Master. Walter John",male,11.5,1,1,1,14.5000,None,s,None,1.0,None
321,3,0,"van Melkebeke, Mr. Philemon",male,NaN,0,0,0,9.5000,None,s,None,NaN,None

In [16]:
from feature_engine.selection import DropFeatures
from feature_engine.imputation import CategoricalImputer, MeanMedianImputer
from sklearn import set_config
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import MinMaxScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier


set_config(transform_output="pandas")

col_transf: ColumnTransformer = ColumnTransformer(
    transformers=[
        ("num_vars", MinMaxScaler(clip=True), num_vars),
        (
            "cat_vars",
            OneHotEncoder(handle_unknown="ignore", sparse_output=False),
            cat_vars,
        ),
    ],
    remainder="drop",
)
preprocessor: Pipeline = Pipeline(
    steps=[
        ("drop_features", DropFeatures(features_to_drop=cols_to_drop)),
        ("preprocess", Preparedata(variables=["sex", "embarked", "ticket"])),
        ("median_imputer", MeanMedianImputer(variables=num_vars)),
        (
            "cat_imputer",
            CategoricalImputer(
                imputation_method="frequent", variables=cat_vars, ignore_format=True
            ),
        ),
        ("col_transf", col_transf),
    ]
)
preprocessor

Pipeline(steps=[('drop_features',
                 DropFeatures(features_to_drop=['cabin', 'boat', 'body',
                                                'home.dest'])),
                ('preprocess', <utils.Preparedata object at 0x13f5d7590>),
                ('median_imputer',
                 MeanMedianImputer(variables=['pclass', 'age', 'sibsp', 'parch',
                                              'ticket', 'fare'])),
                ('cat_imputer',
                 CategoricalImputer(ignore_format=True,
                                    imputation_method='frequent',
                                    variables=['sex', 'embarked'])),
                ('col_transf',
                 ColumnTransformer(transformers=[('num_vars',
                                                  MinMaxScaler(clip=True),
                                                  ['pclass', 'age', 'sibsp',
                                                   'parch', 'ticket', 'fare']),
                                                 ('cat_vars',
                                                  OneHotEncoder(handle_unknown='ignore',
                                                                sparse_output=False),
                                                  ['sex', 'embarked'])]))])

In [17]:
X_train_tr: pd.DataFrame = preprocessor.fit_transform(X=X_train.to_pandas())
X_test_tr: pd.DataFrame = preprocessor.transform(X=X_test.to_pandas())

X_train_tr.head()

,num_vars__pclass,num_vars__age,num_vars__sibsp,num_vars__parch,num_vars__ticket,num_vars__fare,cat_vars__sex_female,cat_vars__sex_male,cat_vars__embarked_c,cat_vars__embarked_q,cat_vars__embarked_s
1020,1.0,0.524008,0.000,0.000000,1.0,0.014737,0.0,1.0,0.0,0.0,1.0
120,1.0,0.160751,0.000,0.222222,1.0,0.039525,0.0,1.0,0.0,0.0,1.0
543,1.0,0.198330,0.125,0.111111,1.0,0.039525,0.0,1.0,0.0,0.0,1.0
98,1.0,0.436325,0.125,0.111111,1.0,0.039525,1.0,0.0,0.0,0.0,1.0
318,1.0,0.198330,0.000,0.000000,0.0,0.014932,1.0,0.0,0.0,0.0,1.0

In [18]:
assert X_train_tr.shape[0] == y_train.shape[0], "The size is NOT equal!"
assert X_test_tr.shape[0] == y_test.shape[0], "The size is NOT equal!"

In [19]:
from mlflow_example import Experiment, Estimator, TrainingData, run_experiment
import mlflow
from sklearn.linear_model import LogisticRegression

In [25]:
import os
from google.cloud import storage


# Initialize the client with explicit credentials
os.environ["GOOGLE_APPLICATION_CREDENTIALS"] = (
    "../service_account/ml-project-419115-8de0a00b8e5f.json"
)

In [22]:
training_data: TrainingData = TrainingData(
    X_train=X_train_tr,
    X_validate=X_test_tr,
    y_train=y_train[TARGET],
    y_validate=y_test[TARGET],
)

experiment: Experiment = Experiment(
    experiment_name="test experiment",
    experiment_type="classification",
    run_name="test",
    model_name="log-model2",
    # tracking_uri="http://127.0.0.1:5252", # This doesn't work on docker (locally).
    tracking_uri="http://localhost:5251",
)

log_model: LogisticRegression = LogisticRegression(random_state=123)
estimator: Estimator = Estimator(
    preprocessor=preprocessor,
    model=log_model,
)

### Start The MLFlow Traking Server

- Using `Localhost` and `SQLite`

```sh
mlflow server -h "127.0.0.1" -p 5252 --backend-store-uri sqlite:///mlruns.db
```

In [26]:
try:
    run_experiment(
        experiment=experiment,
        estimator=estimator,
        training_data=training_data,
    )
except Exception as e:
    print(f"Error running experiment: {e}")

24-04-07 01:10:39 INFO      Training 'log-model2'                                             ]8;id=808139;file:///Users/neidu/Desktop/Projects/Personal/My_Projects/MLOps_Tutorials/other_notes/Automations/DVC/src/mlflow_example.py\mlflow_example.py]8;;\:]8;id=573197;file:///Users/neidu/Desktop/Projects/Personal/My_Projects/MLOps_Tutorials/other_notes/Automations/DVC/src/mlflow_example.py#184\184]8;;\

INFO:richLogger: Training 'log-model2'
3it [00:38, 12.19s/it]2024/04/07 01:11:27 WARNING mlflow.models.model: Logging model metadata to the tracking server has failed. The model artifacts have been logged successfully under gs://neidu-ml-bucket/1/9ac2811953bb4de387ea958bc0712b39/artifacts. Set logging level to DEBUG via `logging.getLogger("mlflow").setLevel(logging.DEBUG)` to see the full traceback.
4it [00:50, 12.05s/it]2024/04/07 01:11:40 WARNING mlflow.models.model: Logging model metadata to the tracking server has failed. The model artifacts have been logged successfully under gs://neidu-ml-bucket/1/9ac2811953bb4de387ea958bc0712b39/artifacts. Set logging level to DEBUG via `logging.getLogger("mlflow").setLevel(logging.DEBUG)` to see the full traceback.
5it [01:02, 12.49s/it]

24-04-07 01:11:41 INFO     Mean AUC [Validation]: 0.8438                                      ]8;id=502893;file:///Users/neidu/Desktop/Projects/Personal/My_Projects/MLOps_Tutorials/other_notes/Automations/DVC/src/mlflow_example.py\mlflow_example.py]8;;\:]8;id=518837;file:///Users/neidu/Desktop/Projects/Personal/My_Projects/MLOps_Tutorials/other_notes/Automations/DVC/src/mlflow_example.py#140\140]8;;\

INFO:richLogger:Mean AUC [Validation]: 0.8438

                  INFO     Training finished successfully                                     ]8;id=850227;file:///Users/neidu/Desktop/Projects/Personal/My_Projects/MLOps_Tutorials/other_notes/Automations/DVC/src/mlflow_example.py\mlflow_example.py]8;;\:]8;id=168045;file:///Users/neidu/Desktop/Projects/Personal/My_Projects/MLOps_Tutorials/other_notes/Automations/DVC/src/mlflow_example.py#144\144]8;;\

INFO:richLogger:Training finished successfully
2024/04/07 01:11:42 WARNING mlflow.sklearn: Model was missing function: predict. Not logging python_function flavor!
2024/04/07 01:11:56 WARNING mlflow.models.model: Logging model metadata to the tracking server has failed. The model artifacts have been logged successfully under gs://neidu-ml-bucket/1/9ac2811953bb4de387ea958bc0712b39/artifacts. Set logging level to DEBUG via `logging.getLogger("mlflow").setLevel(logging.DEBUG)` to see the full traceback.
Successfully registered model 'preprocessor-model'.
2024/04/07 01:11:58 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: preprocessor-model, version 1
Created version '1' of model 'preprocessor-model'.
2024/04/07 01:11:58 WARNING mlflow.sklearn: Model was missing function: predict. Not logging python_function flavor!
2024/04/07 01:12:08 WARNING mlflow.models.model: Logging model metadata to the tracking server has failed. The model artifacts have been logged successfully under gs://neidu-ml-bucket/1/9ac2811953bb4de387ea958bc0712b39/artifacts. Set logging level to DEBUG via `logging.getLogger("mlflow").setLevel(logging.DEBUG)` to see the full traceback.
Successfully registered model 'log-model2'.
2024/04/07 01:12:10 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: log-model2, version 1
Created version '1' of model 'log-model2'.

24-04-07 01:12:12 INFO      Training 'log-model2' Done!                                       ]8;id=110248;file:///Users/neidu/Desktop/Projects/Personal/My_Projects/MLOps_Tutorials/other_notes/Automations/DVC/src/mlflow_example.py\mlflow_example.py]8;;\:]8;id=98767;file:///Users/neidu/Desktop/Projects/Personal/My_Projects/MLOps_Tutorials/other_notes/Automations/DVC/src/mlflow_example.py#216\216]8;;\

INFO:richLogger: Training 'log-model2' Done!

In [24]:
from pathlib import Path
from random import random

import mlflow


def main():
    """
    Runs an MLflow experiment and logs various metrics and artifacts.
    This function sets up an MLflow experiment, starts a run, logs some test parameters and metrics, 
    creates a temporary text file, and logs the file as an artifact.
    """
    mlflow.set_tracking_uri("http://localhost:5251")
    experiment_name = "playground"

    try:
        mlflow.create_experiment(experiment_name)
    except mlflow.exceptions.RestException:  # type: ignore
        pass

    mlflow.set_experiment(experiment_name)

    with mlflow.start_run() as run:
        mlflow.log_param("test", 13)

        mlflow.log_metric("foo", random())
        mlflow.log_metric("foo", random() + 1)
        mlflow.log_metric("foo", random() + 2)

        tmp_txt_path = "tmp.txt"
        Path(tmp_txt_path).write_text("Everything is working!")

        mlflow.log_artifact(tmp_txt_path)

        Path(tmp_txt_path).unlink()


if __name__ == "__main__":
    main()

WARNING:google.auth.compute_engine._metadata:Compute Engine Metadata server unavailable on attempt 1 of 3. Reason: timed out
WARNING:google.auth.compute_engine._metadata:Compute Engine Metadata server unavailable on attempt 2 of 3. Reason: timed out
WARNING:google.auth.compute_engine._metadata:Compute Engine Metadata server unavailable on attempt 3 of 3. Reason: [Errno 64] Host is down
WARNING:google.auth._default:Authentication failed using Compute Engine authentication due to unavailable metadata server.

InvalidOperation: Anonymous credentials cannot be refreshed.

In [ ]:
from typing import Literal
from mlflow import MlflowClient

client = MlflowClient()
validation_tag: Literal["pending", "passed"]
validation_tag = "passed"
model_version: int = 1

# Add tag
client.set_registered_model_tag(
    experiment.model_name, "model.validation_status", validation_tag
)
client.set_registered_model_tag(experiment.model_name, "model.data_scientist", "Neidu")